# Part 1: First Steps

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/800px-Python.svg.png" alt="drawing" width="250"/>

## 1. 1 Your first program

Jupyter notebooks works in **cells**. Every cell can be run indentepdentlly from the others and its output is displeyed indetiatlly below it.

Variables are saved, so you can reuse it later in other jupyter cells.


### 1.1.1 How to run cells?

You have multiple options to run cells. You can use the "Run" button on the top of the window or use the shortcut "Ctr + Enter" to execute the current cell.

Also in the "Cell" menu you have other running options like run all below/above this cell or runn all cells.

### 1.1.2 Print function

Traditionally, the first exercice everyone tries when learning a new lenguage is to create a program that prints (shows in the console or in the cell's output) the sentence *Hello World*. Since is a common exercice in all lenguages, you can easily compare how different two coding lenguages are, I invite you to check [how this exercice is solved in other coding lenguages](https://www.geeksforgeeks.org/hello-world-in-30-different-languages/). 

In Python this program is really simple, we only have to use the command *print()*, and put the message we want to print between the parenthesis, with 'quotes' or "double quotes".

In [1]:
print("Hello word!")

Hello word!

## 1.2 Arithmetic operators


Python provides **operators**, which are special symbols that represent computations:
   - \+ is for addition
   - \- is for substraction
   - \* is for multiplication
   -  \/ is for division
   -  \** is for exponentiation
   - \ // is for floor divistion (divides two numbers and rouds down)
   - \ % modulus (divides two numbers and returns the remainder)

In [2]:
4+2

6

In [3]:
4-2

2

In [4]:
4*2

8

In [5]:
4/2

2.0

In [6]:
4**2

16

In [7]:
5//2

2

In [8]:
5%2

1

### 1.2.1 Order operations

When a command contains more than one operater, the order of evaluation depends on the order of operations. For mathematical operators, PYthon follows a methematical convention (acronym **PEMDAS** is a useful way to remember):

 - **P**arentheses
 - **E**xponentiation
 - **M**ultiplication and **D**ivision
 - **A**ddition and **S**ubstraction
 -Operators with the same precendece are evaluated from left to right

In [9]:
1+(3-1)**4*2/2

17.0

### 1.2.2 String operations

You can't perform mathematical operations on strings, even if they look like numbers. But there are two exceptions, + and *:
 - If you sum (+) two or more strings you will concatenate them from the element in left to the element in the right. Note that this opperation **doesn't add white spaces** between the strings.

In [10]:
"I'm adding" + " multiple strings"

"I'm adding multiple strings"

In [11]:
"Spam "*5

'Spam Spam Spam Spam Spam '

### 1.2.3 Boolean operations

If you try to perform operations with boolean variables, Python will **implicitly change** them into 1 (True) or 0 (False).

In [6]:
6+True

7

In [7]:
True + True

2

In [8]:
3-False

3

In [9]:
7/True

7.0

## 1.3 Types & Variables
### 1.3.1 Types

Did you realized that the output variable displayed by "4-2" is different from the one displayed by (4/2)?
That's because every **value** belongs to a specific **type**.
For now we are going to work with basic types:
 - **Integers**: Numeric values without floating-point number (decimals)
 - **Floats**: Numeric values with floating-point number
 - **Strings**: Alphabetic characters
 - **Booleans**: True/False
 
If you are not sure what type a value has, you can know it by using: type(*variable*)

In [12]:
type(2)

int

In [13]:
type(2.0)

float

In [14]:
type("Hello world!")

str

In [15]:
type(True)

bool

### 1.3.2 Assigment

An **assigment statement** creates a new variable and gives it a value.

In [16]:
message = "Hello world"

In the previous cell, what we have done is to create a variable called *message* and assign the value "Hello world" to it. So now, every time we call our variable *message* it will return its value. Also we can you this variable for other operations, like the print we did in the first cell.

In [17]:
message

'Hello world'

In [18]:
print(message)

Hello world

You can also assign the result of an operation to a new variable

In [19]:
result = 2**4

In [20]:
print(result)

16

Even, you can use previous variables to compute new ones. But we aware that generaly speaking, this variables won't be connected, so that means that second variable won't automatically update if first one changes.

In [21]:
divided_result = result/2
print(divided_result)

8.0

In [22]:
result = 30
print(divided_result)

8.0

### 1.3.3 Assigment rules

While your program grows the difficult to read it grows too. Thats why programmers generally choose meaningful names to the variables they create. We're going to talk deeper about this topic in the following sessions.
But for now, you should know that there are 3 things that **variables name can not have**:
 - **Start with a numerical character**
 - **Contain illegal character** such as *@*, *#* or *$*
 - Be the same that **Python keywords**, such as *False* or *True*
 
 Tip: Most of the IDEs disply this characters or words in a different format so you'll notice that you're doing something wrong with the assigment. Check the following examples:

In [23]:
10variable = 10

SyntaxError: invalid syntax (2631733808.py, line 1)

In [12]:
v@riable = 10

SyntaxError: can't assign to operator (<ipython-input-12-cc7ced7de608>, line 1)

In [13]:
break = "Hello world"

SyntaxError: invalid syntax (<ipython-input-13-02f73e751a6a>, line 1)

### 1.3.4 Example

Suppose that we want to create a program that prints the wholesale cost for a book store.
We know that the cost is based on the selling price of the book (24.95€), the discount the store has negotiated (40%), the shipping cost of the first unit (3€) and the shipping cost for extra units (0.75€).

In [11]:
price = 24.95
discount = 0.4
shipping_1 = 3
shipping_n = 0.75

n = 60

cost = n*(price*(1-discount))+3+(n-1)*0.75

round_cost = round(cost,2)
str_cost = str(round_cost)
message = "The total cost for the books is: " + str_cost

print(message)

The total cost for the books is: 945.45

## Exercice break
<img src="" alt="drawing" width="250"/>



##### Question 1: In a print statement, what happends if you leave out one of the parentheses, of both?

##### Question 2: What happens if you have two values with no operator between them?

##### Question 3: In maths, leading zeros are okay, as in 02. What happens if you try this in Python?

##### Question 4: What is the volume of a sphere with radius 5? Hint: The formula to calculate the volume of a sphere is 4/3 x pi x  r^3

## 1.4 Functions

A **function** is a named sequence of statements that performs a computation.
We can say that a function *takes* arguments (inptus) and *returns* results (outputs).


Inputs ---> Function ---> Output [Ficar diagrama o algo]

### 1.4.1 Built-in functions

Python has some **built-in functions**. We've already seen a couple of examples for the functions *print* and *type*. Let's see some other fucntions that transform variables from one type to another:

 - int() function transforms the given input to a integer
 - float() function transforms the given input to a float
 - str() function transforms the given input to a string
 - len()
 
We are going to see more of these functions during the sessions, but if you want you can check the [list of all built-in functions in Python](https://docs.python.org/3/library/functions.html).

In [14]:
int(2.23)

2

In [15]:
float(4)

4.0

In [16]:
str(7)

'7'

In [17]:
int("Hello World!")

ValueError: invalid literal for int() with base 10: 'Hello World!'

### 1.4.2 Import functions from modules

A **module** is a file that contains a collection of related functions (and objects, as we will see in another session). As we've installed Python thorugh Anaconda, we already have most of the commonly used modules, so we can work with them direclty.

In order to use this modules the first we need to do is *import* the module we want to use. If we try to use this functions before importing the module we will get an error.

In [18]:
math.sin(0.7)

NameError: name 'math' is not defined

In [19]:
import math

This *import* statement creates a new object that we will use to call the module's functions.

In [20]:
type(math)

module

In [21]:
math.sin(0.7)

0.644217687237691

In [22]:
math.pi

3.141592653589793

### 1.4.3 Add new functions

A **function definition** specifies the name of a new function and the sequence of statements that run when the function is called.

The rules for functions names are the same as for variable names.

To difine a function we use the *keyword* **def** followed by the name of our function with parentheses and semicolon after it (this part is known as **header**). Then we need to put what the function does, we'll do that in the lines after the header with intendation. To end the function, you have to stop the indentation.

Although you can assign new variables inside the function definition, those variables won't be available outside the function, they are **local**.

In [24]:
def my_first_function():
    message_function = "Hello world"
    print(message_function)
    print(message_function)
    
print("This print doesn't belong to the function")

This print doesn't belong to the function

Defining a function creates a **function object**.

The syntax for calling a new function is the same as for built-in functions.

In [25]:
type(my_first_function)

function

In [26]:
my_first_function

In [27]:
my_first_function()

Hello world
Hello world

In [28]:
message_function

NameError: name 'message_function' is not defined

### 1.4.4 Parameters and arguments

Usually we would like to generalize our functions. For example, our previous function isn't that much useful if it can only print *Hello world*, it would be better if we could decide what it prints. That is what a parameter is for.

A **parameter** is a variables that its value will be defined when the funciton is called. And the value that we give to a parameter is called **argument**

To define paramenters we only need to put them inside the parentheses when we're defining a new function.

In [29]:
def my_second_function(parameter):
    print(parameter)
    print(parameter)

In [30]:
argument = "Spam"

my_second_function(argument)

Spam
Spam

If we call a function that expects arguments without them, we'll get an error.

We will get an error too if we try to pass more arguments than the expected ones

In [31]:
my_second_function()

TypeError: my_second_function() missing 1 required positional argument: 'parameter'

In [32]:
my_first_function(argument)

TypeError: my_first_function() takes 0 positional arguments but 1 was given

Also we can set **pre-defined values** for our arguments, in this case, if we call a function wihtout parameters, it will use the pre-defined ones.

In [33]:
def my_second_function(parameter="Defalut message"):
    print(parameter)
    print(parameter)

In [34]:
my_second_function()

Defalut message
Defalut message

In [35]:
my_second_function("Spam again")

Spam again
Spam again

### 1.4.5 Functions outputs

The functions that we used from math module, not only do things but they give back a value. That's something that we need to define in our functions with the keyword **return** followed by the variable we want to give as output.

**Note**: The **return** keyword **terminates the function** that means that any code below that won't be executed. That's why usually it should be placed at the end of the function definition

In [36]:
def rectangle_area(h=5,w=5):
    
    area = h*w
    return area

    print("This message won't be printed")

In [37]:
result = rectangle_area(2,3)
print(result)

6

### 1.4.6 Example

We will transform the code from 1.3.4 into functions.
Suppose that we want to create a program that prints the wholesale cost for a book store.
We know that the cost is based on the selling price of the book (24.95€), the discount the store has negotiated (40%), the shipping cost of the first unit (3€) and the shipping cost for extra units (0.75€).

In [38]:
def book_cost(price=24.95, discount=0.4, shipping_1=3, shipping_n=0.75, n=60):
    
    cost = n*(price*(1-discount))+3+(n-1)*0.75
    return cost

def print_cost(price=24.95, discount=0.4, shipping_1=3, shipping_n=0.75, n=60):
    
    cost = book_cost(price, discount, shipping_1, shipping_n, n)
    message = "The total cost for the books is: " + str(round(cost,2))
    print(message)

In [39]:
print_cost()

The total cost for the books is: 945.45

In [40]:
print_cost(n=100)

The total cost for the books is: 1574.25

In [41]:
print_cost(30,0.1)

The total cost for the books is: 1667.25

In [42]:
print_cost(30, shipping_1=4, 2)

SyntaxError: positional argument follows keyword argument (<ipython-input-42-8b398e165775>, line 1)

## Exercice break
<img src="" alt="drawing" width="250"/>



##### Exercice 1: Write a function that computes the volume of a sphere given it's radius. Hint: The formula to calculate the volume of a sphere is 4/3 x pi x  r^3

##### Exercice: Write a function named *right_justify* that prints the given string with the decided number of white spaces before it (two arguments).

In [ ]:
def volumne(r):
    
    return (4/3)*math.pi*r**3

In [1]:
def right_justify(s, n):
    
    return " "*n + s

### 1.4.7 Comments

The complexity of your programs will increase exponentialy while you add functions, variables and so on. In order to help future developers (or even the future you) it's a good practice to comment your code explaining what the program is doing and the logic behind it.

Comments are **lines that the interpretor ignores**, so they are not considered part of the program. To add this *comments* you only need to put a *#* and then the interpretor will ignore the rest of the line. Let's put an example based on the books wholesale function:

In [43]:
def book_cost(price=24.95, discount=0.4, shipping_1=3, shipping_n=0.75, n=60):
    
    #First unit has a different shipment cost, that's why we sum 3(cost of the first unit)
    #and then n-1 * 0.75(cost of the rest of the units)
    
    cost = n*(price*(1-discount))+3+(n-1)*0.75
    return cost

def print_cost(price=24.95, discount=0.4, shipping_1=3, shipping_n=0.75, n=60):
    
    cost = book_cost(price, discount, shipping_1, shipping_n, n)
    #Euro currency only has 2 decimals, so we need to round there.
    message = "The total cost for the books is: " + str(round(cost,2))
    print(message) #We don't want to return the value, we just want to print it

When adding comments to your code, try to avoid redundant notes. That means that you don't have to describe literaly what your code is doing (you can read the code direclty), but the context or the extra information that is related to the code.

For example, imagine that you're defining a variable (*v*) that is the velocity of an object:

In [44]:
#Example of useless comment:

v = 5 #Asigning velocity of 5 to variable v

#Example of meaningful comment:

v = 5 #Velocity in m/s

## 1.5 Logical operators

#### 1.5.1 Boolean expressions

A **boolean expression** is an expression that is either *true* or *false*. In order to creathe this expressions we need to use **relational operators**:
 - == : Are two variables equal?
 - != : Are two variables different (not equal)?
 - \> : Is first variable (left) greater than second one (right)?
 - \>= : Is first variable greater or equal to second one?
 - \< : Is first variable lower than second one?
 - \<= : Is first variable lower or equal to second one?

In [45]:
a1 = a2 = "Hello world"
b1 = b2 = "Hola mundo"
c1 = c2 = 10
d1 = d2 = 40

In [46]:
a1 == b1

False

In [47]:
c1 == c2

True

In [48]:
c1 > d1

False

In [49]:
c1 < d1

True

In [50]:
a1 != d2

True

In [51]:
a1 < c1

TypeError: '<' not supported between instances of 'str' and 'int'

#### 1.5.2 Logical Operators

There are three **logical operators**: *and*, *or* and *not*, their meaning is similar to their meaning in English.

Strictly speaking, the operands of the logical operators should be boolean expressions. But Python is not very strct. Any nonzero number or non empy string is interpreted as *True*

In [52]:
c1 == c2 and a1 == b1

False

In [53]:
c1 == c2 or a1 == b1

True

In [54]:
"H" in a1

True

In [55]:
"h" in a1

False

#### 1.5.3 Conditional Execution

**Conditional statements** give us the ability to check conditions and change the behaviour of the program accordingly.

Conditional statements have the **same structure as function** definitions: a header followed by an intended body.

In [56]:
if c1 > d1:
    print("c1 is bigger than d1")

In [57]:
if c1 > d1:
    print("c1 is bigger than d1")
else:
    print("d1 is bigger or equal to c1")

d1 is bigger or equal to c1

In [58]:
if c1>d1:
    print("c1 is bigger than d1")
    
elif c1 == d1:
    print("They are equal")
    
else:
    print("d1 is bigger than c1")

d1 is bigger than c1

One conditional can also be nested within another, but **nested conditionals become difficult to read**. It is a good idea to avoid them when you can.

In [59]:
def even_numbers(n):
    
    if type(n) is not int:
        print("The input is not an integer")
        
    elif n%2 == 0:
        print("Number is even")
        
    else:
        print("Number is odd")

In [60]:
even_numbers(1)

Number is odd

In [61]:
even_numbers("AAA")

The input is not an integer

#### 1.5.4 *While* loop

*While* statements is used to perform the repeat the same block of commands util de condition is broken. To uset it you only need to use the *keyword while* followed by a conditional (or a Boolean variable).

It's important to notice that the condition is checked before each iteration (each time the program performs the block of code).

**WARNING**: Make sure than there's some logic **inside the loop** that breaks the *while* condition, otherwise you will get an **infinite loop** and that's something that usually you don't want to.

In [62]:
i = 0

while i<5:
    print(i)
    i += 5

0

##### Example: Log-in system

Create a program that simulates a password-protected login system. The user should be able to enter their username and password. If the username and password match a predefined set of credentials, the program should grant access. If not, the program should ask the user to try again. The program should continue to run until the user enters the correct username and password.

In [63]:
credentials = {"user_1": "abcd123",
              "user_2": "123abc",
              "user_3": "aaaa"}

access = False

while not access:
    
    print("*"*10)
    print("*"*10)
    print()
    
    user = input("Please indicate your user name: ")
    
    if user in credentials:
        
        password = input("Please indicate your password: ")
        
        if credentials[user]==password:
            print("Successfully loged-in")
            access = True
            
        else:
            print("Invalid password, please try it again")
            
    else:
        print("The username doesn't exist in our system")
        
    print("")

**********
**********

Please indicate your user name: user_1
Please indicate your password: abcd123
Successfully loged-in

#### 1.5.5 Recursion

A function that calls itself is **recursive**, the process of executing it is called **recursion**. This kind of functions have a **base case**, a scenario that doesn't make a recursive called, so the function can finish.

In [64]:
def count_to_0(x):
    
    print(x)
    y = x-1
    
    if y >= 0:
        count_to_0(y)

In [65]:
count_to_0(3)

3
2
1
0

If a recursion function never reaches a base case, it will call itself forever and the progarm never terminates. This is known as **infinite recursion**.

Luckily, in Python, this functions don't really run forever, Python reports an error message when the maximum recursion depth is reached (1000)

In [66]:
def recursive():
    recursive()

In [67]:
recursive()

RecursionError: maximum recursion depth exceeded

#### Example: Fibonacci Number
<img src="https://www.mathsisfun.com/numbers/images/fibonacci-spiral.svg" alt="drawing" width="400"/>


One of the most common example of recursively defined mathematical function is [Fibonacci](https://en.wikipedia.org/wiki/Fibonacci_number):
```
    fibonacci(0) = 0
    fibonacci(1) = 1
    fibonacci(n) = fibonacci(n-1) + fibonacci(n-2)
```

Can you translate that into a recursive function called `fibonacci()`?

In [68]:
def fibonacci(n):
    if n == 0:
        return 0
    
    elif n == 1:
        return 1
    
    else:
        return fibonacci(n-1) + fibonacci(n-2)

In [69]:
fibonacci(6)

8

## Optional Exercice: Pebble game
<img src="https://eightygames.files.wordpress.com/2013/07/20130731-141453.jpg" alt="drawing" width="400"/>



Program a two-player game in which there are *n* initial pebbles on a table. The players take turns, removing either one or two pebbles from the table, and **the player who removes the final pebble wins**. Suppose that Alice and Bob play this game, each using a simple strategy:

 - Alice always removes a single pebble
 - Bob removes two pebbles if an even number of pebbles is on the table, and one otherwise
 
Given n initial pebbles and Alice starting, who wins the game?

**Hint**: A natural decomposition of this problem is to encapsulate each strategy in its own function. This allows us to modify one strategy without affecting the other, maintaining the abstraction barrier between the two. In order to incorporate the turn-by-turn nature of the game, these two functions call each other at the end of each turn.

In [76]:
def is_even(n):
    return n%2 == 0

def play_alice(n):
        if n == 0:
            print("Bob wins!")
        else:
            play_bob(n-1)
def play_bob(n):
        if n == 0:
            print("Alice wins!")
        elif is_even(n):
            play_alice(n-2)
        else:
            play_alice(n-1)

In [77]:
play_alice(20)

Bob wins!

In [78]:
#other possible solution
def alice_play(n):
    n -= 1 #This statement does the same than n = n-1
    
    if n==0:
        print("Alice wins!")
    else:
        bob_play(n)
    
    
def bob_play(n):
    
    if n%2 == 0:
        n -=2  
    else:
        n -= 1
        
    if n==0:
        print("Bob wins!")
    else:
        alice_play(n)