# Part 2: Data Structures

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/800px-Python.svg.png" alt="drawing" width="250"/>

## 2.1 Strings

Strings are not like the other type of variables that we've seen. A string is a **sequence**, which means is an ordered collection of other values (individual characters). That means we can access individualy to each character by specifing its position:

```
>> book = "thriller"
>> letter = book[1]
>> print(letter)
    h
```

Python is 0-based index, that means that the first position it's 0, not 1. That's why in the previous expample when we set the variable *letter* with the position 1 of variable *book* we get *h* instead of *t*.

Using the same syntax we can slice the string by position:

```
>> book = "thriller"
>> sliced_book = book[1:4]
>> print(sliced_book)
    hri
```
Be aware that if the first index is greater than or eqaul to the second the result is an **empty string**
```
>> book = "thriller"
>> sliced_book = book[1:1]
>> print(sliced_book)
    ''
```

You can use negative index to start counting from the end:

```
>> book = "thriller"
>> sliced_book = book[2:-2]
>> print(sliced_book)
    rill
```

### 2.1.1 String methods

A method is similar to a function: it takes arguments and returns a value. But the syntax is slightly different. Let's see it on an example:
```
>>> word = "bike"
>>> new_word = word.upper()
>>> print(new_word)
    'BIKE'
```


Strings provide methods that perform a variety of useful operations. During the course we're going to use some of them, if you want you can check the complete list of string methods [in this documentation](https://docs.python.org/3/library/stdtypes.html#string-methods)
 
 Let's see some of them:
 
 - `.upper()`: Return a copy of the string with all the characters converted to uppercase.
 - `.isupper()`: Return True if all characters in the string are uppercase, otherwise return False.
 - `.find(sub)`: Return the lowest index in the string where substring *sub*. Return -1 if sub is not found.
 - `.format()`: Perform a string formatting operation. The string on which this method is called contain replacement fields delimited by braces {}. Returns a copy of the string where each replacement field is replaced with the string value of the corresponding argument.

In [108]:
word = "Hello world"

In [109]:
word.upper()

'HELLO WORLD'

In [110]:
word.isupper()

False

In [111]:
word2 = word.upper()
print(word2)
print(word2.isupper())

HELLO WORLD
True

In [112]:
word.find("world")

6

In [117]:
message = "Hello {} nice to meet you, I'm {}"

print(message)
print(message.format("Maria","Lluis"))
print(message.format("Juan","Laura"))

Hello {} nice to meet you, I'm {}
Hello Maria nice to meet you, I'm Lluis
Hello Juan nice to meet you, I'm Laura

### 2.1.2 Exercice: Caesar cypher

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTFOtEO65jwut_72IZCdb60eu5bYKPHO1TUKQ&usqp=CAU" alt="drawing" width="400"/>

A Caesar cypher is a weak form of encryption that involves *rotating* each letter by a fixed number of places. To rotate a letter means to shift it thorugh the alphabet, wrapping around the beginning if necessary, so *A* rotated by 3 is *D* and *Z* rotated by 1 is *A*.

To rotate a word, rotate each letter by the same amount. For example, "cheer" rotated by 7 is "jolly" and "melon" rotated by -10 is "cubed". In the movie *2001: A Space Odysey", the ship computer is called HAL, which is IBM rotated by 1.

Write a function that takes a string and an integer as parameters and returns a new string that contains the letters from the original string rotated by the given amount.

**Hints**:
- The *built-in* function `ord()` converts a character to a numeric code
- The *built-in* function `chr()`converts a numeric code to a character (inverse of `ord()`)
- The numeric codes for uppercase letters are different from lowercase ones.

In [1]:
def rotate_letter(letter, n):

    if letter.isupper():
        start = ord('A')
    elif letter.islower():
        start = ord('a')
    else:
        return letter

    c = ord(letter) - start
    i = (c + n) % 26 + start
    return chr(i)


def rotate_word(word, n):

    res = ''
    for letter in word:
        res += rotate_letter(letter, n)
    return res

In [290]:
print(rotate_word('cheer', 7))
print(rotate_word('melon', -10))
print(rotate_word('sleep', 9))

jolly
cubed
bunny

In [291]:
print(caesar_cypher('cheer', 7))
print(caesar_cypher('melon', -10))
print(caesar_cypher('sleep', 9))

jolly
cubed
bunny

In [293]:
## Another possible solution
def caesar_cypher(word, pos):
    
    #We transform the string to lower to avoid dealing with more codes
    listed_word = list(word.lower())
    transformed_word = []
    
    for i in listed_word:
        
        numeric_code = ord(i) + pos
        
        #If numeric code is smaller than a it means that the character won't belong to alphabet,
        #so we need to change it wiht the code from z (last character in alphabet) 
        if numeric_code<ord("a") :
            
            numeric_code = ord("z") + (pos - (ord("a")-ord(i)-1))
            
        
        #If numeric code is greater than z it means that the character won't belong to alphabet,
        #so we need to change it wiht the code from a (first character in alphabet) 
        elif numeric_code>ord("z"):
            
            numeric_code = ord("a") + (pos - (ord("z")-ord(i))-1)
        
        transformed_word.append(chr(numeric_code))
        
    return "".join(transformed_word)

## 2.2 Data structures and iteraton

Data structures are a way of organizing and storing data in a computer program so that it can be accessed and manipulated efficiently. They help programmers solve complex problems by providing a systematic way of organizing and processing data.

In Python there are 4 main data structures:
 - Lists
 - Dictionaries
 - Tuples
 - Sets

### 2.2.1 Lists

A list is a sequence of values usually called **elements** or **items**. There are no restrictions about what can be a element, you can have different variable types in the same list, even you can have a nested list (or any other data structure).

To define a list you only need to put the elemnets between brackets (`[]`) and separated with commas.

`list`is a *built-in function* in Python, so you shouldn't use it to name your variables!

The main points of list are:
 - **Mutable**: Once defined, list chan be changed (remove or replace an element)
 - **Sorted**: Elements of the list are sorted in the same order they were defined (or edited)
 
Two lists are **equivalent**, because they have the same elements, but not **identical**, because they are not the same object.

In [29]:
l = [1,"aaa",True,[0.5, print]]

In [30]:
print(l)

[1, 'aaa', True, [0.5, <built-in function print>]]

In [31]:
type(l)

list

In [35]:
# Select a single element of a list by its index (Python is 0 index)
l[0]

1

In [57]:
l[-1]

[0.5, <function print>]

In [ ]:
#Slice the list

In [62]:
l[1:3]

['aaa', True]

In [60]:
l[:-1]

[1, 'aaa', True]

In [61]:
l[2:]

[True, [0.5, <function print>]]

In [78]:
t = ["a", "b", "c"]
t2 = ["a", "b", "c"]
print(t == t2)
print (t is t2)

True
False

#### 2.2.1.1 Traversing a List

The most common way to traverse the elements of a list is wit a *for* loop. The syntax is similar to the conditionals:

```
>>> l = [1,2,3,4]
>>> for i in l:
        print(i)
        
    1
    2
    3
    4
```

*For* loop only works to need to read the elements of the list. If you need to write or update the element you need to interate through indices. A common way to do that is combining *built-in* function *range* and *len*:

 - `len()` returns the total number of elements that the input has
 - `range()` returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.
 
 ```
 >>> l = [1,2,3,4]
 >>> for i in range(len(l)):
         l[i] += 1
 >>> print(l)
     [2,3,4,5]
```

In [37]:
for i in l:
    print(i)

1
aaa
True
[0.5, <built-in function print>]

In [120]:
numbers = [1,2,3,4]

print(numbers)
for index in range(len(numbers)):
    numbers[index] = numbers[index]*2
    
print(numbers)

[1, 2, 3, 4]
[2, 4, 6, 8]

##### WARNING!!

**Do not** modify the list while you're traversing it, wierd thigs will happend:

In [95]:
l = [1, 2, 3, 4, 5]
for item in l:
     l.remove(item)

print(l)

[2, 4]

#### 2.2.1.2 List Operations

Like strings, list have two available operations:
 - \+ operator concatenates lists:
     ```
     >>> a = [1,2,3]
     >>> b = [4,5,6]
     >>> a + b
         [1,2,3,4,5,6]
    ```
 - \* operator repeats a list a given number of times:
     ```
     >>> [1,2,3]*3
         [1,2,3,1,2,3,1,2,3]
    ```

#### 2.2.1.2 List Methods

[Here](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists) you can find the complete list of methods available for lists.

Let's see some:
- `.append(x)`: Add an item to the end of the list. Equivalent to  `a[len(a):] = [x]`.
- `.extend(l)`: Extend the list by appending all the items from the iterable. Equivalent to a `a[len(a):] = l`.
- `.sort()`: Sort the items of the list in place
- `.pop(i)`: Remove the item at the given position in the list, and return it. If no index is specified, it removes and returns the last item in the list.
- `.remove(x)`: Remove the first item from the list whose value is equal to x.


**Note**:
You will see that this methods doesn't return anything, but edit the used list. That is important because when you pass a list to a function (or you assign a new variable based on a previous variable that is a list), Python gets a reference to the list (that's known as **aliasing**). That means that if the function modifies the list (o the new variable is modified), the original one sees the change.

That is why it's important to **know what operations modify lists** and which ones create new lists. If you're not sure what an operation does you simply can check it with a simple test!

Although this behaviour can be useful, it makes the code harder to read and it is error-prone. In general, **it's safer to avoid it**.

In [65]:
t = ["a","b","c"]
print(t)
t.append("d")
print("After append")
print(t)

['a', 'b', 'c']
After append
['a', 'b', 'c', 'd']

In [67]:
t1 = ["a","b","c"]
t2 = ["d","e"]

print(t1)
print(t2)
t1.extend(t2)
print("After extend")
print(t1)
print(t2)

['a', 'b', 'c']
['d', 'e']
After extend
['a', 'b', 'c', 'd', 'e']
['d', 'e']

In [68]:
t = ["d","c","a","b","w","h"]
print(t)
t.sort()
print("After sort")
print(t)

['d', 'c', 'a', 'b', 'w', 'h']
After sort
['a', 'b', 'c', 'd', 'h', 'w']

In [70]:
t = ["a","b","c","d"]
print(t)
x = t.pop(1)
print("After pop")
print(t)
print(x)

['a', 'b', 'c', 'd']
After pop
['a', 'c', 'd']
b

In [71]:
# If we don't want to keep the deleted element, instead of using .pop we can use del t[1]
t = ["a","b","c","d"]
print(t)
del t[1]
print("After delete")
print(t)

['a', 'b', 'c', 'd']
After delete
['a', 'c', 'd']

In [74]:
t = ["a","b","c","d"]
print(t)
t.remove("b")
print("After delete")
print(t)

['a', 'b', 'c', 'd']
After delete
['a', 'c', 'd']

In [79]:
t = ["a","b","c"]
t1 = t

print(t)
print(t1)
t.append("d")
print("After append")
print(t)
print(t1)

['a', 'b', 'c']
['a', 'b', 'c']
After append
['a', 'b', 'c', 'd']
['a', 'b', 'c', 'd']

In [80]:
t = ["a","b","c"]
t1 = t[:]

print(t)
print(t1)
t.append("d")
print("After append")
print(t)
print(t1)

['a', 'b', 'c']
['a', 'b', 'c']
After append
['a', 'b', 'c', 'd']
['a', 'b', 'c']

In [81]:
t = ["a","b","c","d","e"]

print(t)
for el in t:
    t.remove(el)
    
print("After remove")
print(t) #We would expect an empty list

['a', 'b', 'c', 'd', 'e']
After remove
['b', 'd']

### 2.2.1.3 The *in* Operator

The world *in* is a boolean operator that returns *True* if the first element appears in the second one. It can be applied in any variable that is iterable.

```
>>> list = ["a", "b", "c"]
>>> "B" in list
    False
```

```
>>> word = "Hello world"
>>> "world" in word
    True
```

In [119]:
1 in {1,2,3}

True

### 2.2.1.4 List and Strings

As you've seen, lists have lot in common with strings, which makes sence because lists are sequence of items and strings are a sequence of characters (a specific type of items). But a list of characters is not the same as a string. 

We have some *built-in* functions and methods that transform strigs to lists or lists to strings:

- `list(s)`: Transforms a string into a list of characters
- `.split()`: Transforms a string into a list of words using a **delimiter** to set word boundaries
- `.join()`: Transforms a list into a string addin a **delimiter** betwee the elements (it's the inverse of `.split()`

In [136]:
c = "Hello world"

list(c)

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [138]:
lc = c.split(" ")
lc

['Hello', 'world']

In [140]:
"-".join(lc)

'Hello-world'

## Exercice break
<img src="" alt="drawing" width="250"/>


##### Exercice 1: Write a function that takes a list of lists of integers and returns the sum of all the elements from the nested lists.
The result should look like:
```
>>>l = [[3,4], [1,2]]
>>> print(sum_elements(l))
10
```

##### Exercice 2:  Write a function that checks if a list is sorted (returns *True*) or not (returns *False*). Add an optional parameter to specify if the sorting order is ascending (from lower to higher) or descending (from higher to lower), with its default value set to *ascending*
The result should look like:
```
>>> l = [2,3,4,5]
>>> is_sorted(l)
True

>>> l2 = [4,3,5]
>>> is_sorted(l)
False
```

**Hint**: `.reverse()` reverses list's elements (last element will become first one)

##### Exercice 3: Write a function that takes a list and returns *True* if there is, at least, one duplicated element without modifying the original list

```
>>> l = ["a","b",1,2]
>>> duplicates(l)
False
```

In [84]:
def sum_elements(l):
    result = 0
    
    for i in l:
        result += sum(i)
            
    return result

sum_elements([[3,4],[5,6]])

18

In [130]:
def is_sorted(l, descending = True):
    
    
    l2 = sorted(l, reverse= descending)
        
    return l2 == l

is_sorted([4,3,2,1], descending=True)

True

In [121]:
def duplicates(l):
    
    # make a copy of t to avoid modifying the original list
    l2 = l[:]
    
    #if we remove an element but we can still find it means that there are more than one
    for i in l:
        l2.remove(i)
        
        if i in l2:
            return True
        
    return False

duplicates(["a","b","a"])

True

In [104]:
## Option 2
def duplicates(s):

    # make a copy of t to avoid modifying the original list
    t = list(s)
    t.sort()

    # check for adjacent elements that are equal
    for i in range(len(t)-1):
        if t[i] == t[i+1]:
            return True
    return False

### 2.2.2 Dictionaries

A **dictionary** is like a list, but more general. In a list, the indices have to be integers; in a dictionary they can be (almost) any type.

A dictionary contains a collection of indices, whi are called **keys** and a collection of values. Each key is assossatied to a value, this association is called **key-value pair**.

Like lists, dictionaries are **mutable**. But unlike lists, the order of items in a dictionari is **unpredictalbe**

To define a dictionary you only need to put the key-value combination between `{key:value}` and separated with colon and with commas from the rest of key-values.

In [11]:
menu = {"starter":"caesar salad",
        "main":"risotto",
        "dessert":"cheescake",
         }

In [2]:
menu["starter"]

'caesar salad'

In [3]:
menu[0]

KeyError: 0

In [4]:
menu["drink"] = "white wine"

In [12]:
menu

{'starter': 'caesar salad', 'main': 'risotto', 'dessert': 'cheescake'}

#### 2.2.2.1 *In* operator

The *in* operator checks if something appears as *key* in the dictionary (appearing as a value is not good enough).

In practice, *in* operator works the same way in Lists and in Dictionaries, but behind the scenes, it uses different algorithms:
- For lists, it searches the elements of the list in order. As the list gets longer, the search **time gets longer in direct proportion**.

- For dictionaries, it uses an algorithm called a **hashable**, that has a remarkable property: the search takes the **same amount of time** no matter how many items are in the dictionary

##### Hash
A **hash** is a function that takes a value (of any kind) and returns an integer. Dictionaries use these integers, called hash values, to store and look up key-value pairs.
This system works fine if the **keys are inmmutable**, but it would missfunction if they were mutable. That's why if you try to use some mutable type (like lists or other dictionaries) as key you'll get an error.

In [6]:
"starter" in menu

True

In [7]:
"caesar salad" in menu

False

In [8]:
1234 in menu

False

In [54]:
error_dict = {["wrong_list_index"]:"Legal_Value"}

TypeError: unhashable type: 'list'

#### 2.2.2.2 Looping dictionaries

Just like lists, you can traverse the **keys** of the dictionary by using a *for* statement.

**Note:** Depending on your Python version the *for* statement will return the keys in the same order you defined them or not. Usually you should assume that keys can be sorted differently than you defined them. If you need to traverse the keys in any specific order, you can use the *built-in function* `sorted()`.

In [13]:
for k in menu:
    print(k)

starter
main
dessert

In [38]:
for k in sorted(menu):
    print(k)

dessert
main
starter

You can use dictionaries' methods to iterate over them in different ways:

- `dictionary.values()`: returns a list of all values
- `dictionary.items()`: returns two list, the first one with keys and the second one with all values (in the same order). It's useful to iterate over both parts of the dictionary at the same time

In [17]:
for v in menu.values():
    print(v)

caesar salad
risotto
cheescake

In [14]:
for key, value in menu.items():
    
    print("Key: {}".format(key))
    print("Value: {}". format(value))
    print("_____")

Key: starter
Value: caesar salad
_____
Key: main
Value: risotto
_____
Key: dessert
Value: cheescake
_____

In [21]:
for k in menu:
    
    print("Key: {}".format(k))
    print("Value: {}". format(menu[k]))
    print("_____")

Key: starter
Valeu: caesar salad
_____
Key: main
Valeu: risotto
_____
Key: dessert
Valeu: cheescake
_____

#### 2.2.2.3 Example: Dictionary as a Collection of Counters

Create a function named `histogram()` that takes a string as a parameter and returns how many times each letter appears.

**Hint 1**: An advantage of the dictionary is that we don't have to know ahead of time which letters appear in the string an we only have to make room for the letters that do appear-

**Hint 2**: You can create an empty dictionary using `d= dict()` or `d={}`

**Hint 3**: The method `dictionary.get(s, n)` that, given a key to look for and the default value, returns the corresponding value if the key appears in the dictionary, otherwise it returns the default value. [Check the documentation](https://docs.python.org/3.8/library/stdtypes.html#dict.get)

In [17]:
def histogram(s):
    d = {}
    for c in s:
        n = d.get(c, 0) +1
        d[c] = n
        
    return d

Now define a second function called `invert_dict()` that takes the output from `histogram()` and returns a dictionary that has the number of times a letter appears as key, and the letters themselves as value.

**Hint**: Take into account that more than one letter can appear the same amount of times and keys' dictionaries must be unique. That's why the value needs to be a list of letters.

In [52]:
def invert_dict(d):
    reverse_d = dict()
    
    for key, value in d.items():
        if value in reverse_d:
            reverse_d[value].append(key)
            
        else:
            reverse_d[value] = [key] #A list with one item is called singleton
            
    return reverse_d

In [23]:
def invert_dict(d):
    reverse_d = dict()
    
    for key, value in d.items():
        l = reverse_d.setdefault(value,[])
        reverse_d[value].append(key)
            
    return reverse_d

In [53]:
invert_dict(histogram("parrot"))

{1: ['p', 'a', 'o', 't'], 2: ['r']}

In [24]:
invert_dict(histogram("parrot"))

{1: ['p', 'a', 'o', 't'], 2: ['r']}

#### 2.2.2.4 Example: Reverse Lookup

Given a dictionary *d* and a key *k*, it is easy to find the corresponding value (`v = d[k]`). This operation is called **lookp**

But what if you have *v* and you want to find k? That's called **reverse lookup** and unfortunatelly there is no simple syntax to do it. Can you create a function called `reverse_lookup()` that takes a dictionary and a value as parameters and returns the corresponding key if it exists and `None` if doesn't?

In [43]:
d = {"car":"coche",
    "bike": "bici",
    "motorbike": "moto"}

def reverse_lookup(d, v):
    
    for key, value in d.items():
        if value == v:
            return key

In [ ]:
def reverse_lookup(d, v):
    
    for key, value in d.items():
        if value == v:
            return key

#### 2.2.2.5 Example: Dictionary as Memo

If you played with the `fibonacci()` function we defined previously, you might have noticed that the bigger the argument you provide, the longer the function takes to run.

If we take a look into the **call graph** with n=5, we can see that we call multiple times `fibonacci(0)`, `fibonacci(1)`, `fibonacci(2)` and `fibonacci(3)`.

<img src="https://theleo.zone/img/recursive_fib.png" alt="drawing" width="700"/>

Why should we compute the same operation multiple times?


One solution to this is to keep a track of values that have already been computed by string them in a dictionary. This variables that is used to store computed values to use them later are called **memos**.

Can you optimize your `fibonacci()` function with a memo?

In [60]:
def fibonacci(n):
    if n == 0:
        return 0
    
    elif n == 1:
        return 1
    
    else:
        return fibonacci(n-1) + fibonacci(n-2)

In [59]:
memo = {0:0,
       1:1}

def fibonacci_optimized(n):
    if n in memo:
        return memo[n]
    
    else:
        result = fibonacci(n-1)+fibonacci(n-2)
        memo[n] = result
        return result

In [64]:
fibonacci(35)

9227465

In [65]:
fibonacci_optimized(35)

9227465

## Exercice break
<img src="" alt="drawing" width="250"/>


##### Exercice 1: Read the documentation of the dictionary method *satdefaul* and use it to wirte more concise version of invert_dict
Original function: 
```
def invert_dict(d):
    reverse_d = dict()
    
    for key, value in d.items():
        if value in reverse_d:
            reverse_d[value].append(key)
            
        else:
            reverse_d[value] = [key] #A list with one item is called singleton
            
    return reverse_d
```

##### Exercice 2:  Write a function that takes a list as parameter and returns *True* if there is any object that appears more than once in the list.

In [89]:
## Exercice 1
def invert_dict(d):
    reverse_d = dict()
    
    for key, value in d.items():
        
        reverse_d.setdefault(value, []).append(key)
        
    return reverse_d

d = {"a":1,
    "b":1,
    "c":2,
    "d":3,
    "e":1,
    "f":2}

invert_dict(d)

In [106]:
## Exercice 2

def has_duplicates(t):

    d = {}
    for x in t:
        if x in d:
            return True
        d[x] = True
    return False    
    
has_duplicates(["l","b"])

### 2.2.3 Tuples

A tuple, like a list, is a sequence of values. The most importat difference is that **tuples are immutable**

You could define a tuple like this:
```
>>> tup = "a", "b", "c", "d", "e"
```

But is highly recommended to enclose tuples in parentheses to improve readability:
```
>>> tup = ("a", "b", "c", "d", "e")
```

Note that to define a single element tuple you need to include a final comma, if not Python will consider it as a string

```
>>> tup = "a", 
>>> tup = ("a",)
```

Another way to defina a tuple is using the *build-in* function `tuple()`. Note that if the argument is a sequence (string, list or tuple), the result is a tuple with the elements of the sequence:

```
>>> tup = tuple("banana")
>>> tup
("b","a","n","a","n","a")
```

In [108]:
tuple("banana")

('b', 'a', 'n', 'a', 'n', 'a')

#### 2.2.3.1 Tuple assignment

Imagine you need to swap values from two variables (variable a needs to have variable b's value and variable b needs to have variable a's value). Based on what we've seen until now we would need to do something like this:

```
#temporal variable to store a's value before reasignment
temp_variable = a 
>>> a = b
>>> b = temp_variable
```

But with tumples we have something better (tuple assignment):

```
>>> a, b = b, a

#equivalent to previous line
>>> a, b = (b, a)
```

Actually, you already used tuple assignment whe we use the dictionary method `.items()`

Using the same logic, we can return **multiple values** from a single function:

```
>>> def division_and_modulus(a,b):

        div = a//b
        mod = a%2

        return div, mod
    
>>> x, y = division_and_modulus(5,2)
```

#### 2.2.3.2 How to iterate multiple sequences: the zip function

**zip** is a *built-in* function that takes two or more sequences and returns a list of tuples where each tuple contains one element from each sequence.

The output of this function is a **zip object** that knows how to iterate through the pairs, the most common use is in a *for* loop:

```
>>> a = "abc"
>>> b = [0,1,2]

>>> for par in zip(a, b):
        print(pair)
        
   ('a', 0)
   ('b', 1)
   ('c', 2)
   
# Combine zip with tuple assignment
>>> for x, y in zip(a, b):
        print("{} - {}".format(x,str(y)))
        
   a-0
   b-1
   c-2
```

Zip object is a kind of **iterator**, which is any object that iterates through a sequence, their particularity is that you **can not use an index to select an elemet from them**. If you need to do that, you would need to transform the iterator to a list using the *built-in* function `list()`

In [4]:
cars = ["Renault", "Seat", "Audi"]
colors = ["Blue", "Red", "Black", "Green"]

#Note that Green is not zipped
for car, color in zip(cars, colors):
    print("{} in {}".format(car, color.lower()))

Renault in blue
Seat in red
Audi in black

#### 2.2.3.4 Dictionaries and tuples

You can use a list of tuples to initialize a new dictionary:

```
>>> t = [("a",0), ("b",1), ("c",2)]
>>> d = dict(t)
>>> d
    {"a":0, "b":1, "c":2}
```

With that, you can create dictionaries based on two lists (or iterators) by combining *built-in* functions *dict* and *zip*

In [6]:
l = "parrot"
d = dict(zip(range(len(l)), l))
d

{0: 'p', 1: 'a', 2: 'r', 3: 'r', 4: 'o', 5: 't'}

Another common interaction between this two data types is the usage of tuples as keys in dictionaries. As we've seen, dictionaries need inmutable variables as keys, so if we need to use a **sequence as key** most probably we will need to work with tuples.

Imagine you need to create a dictionary with cardinal points as key and city names as value:

In [7]:
cities = dict()
cities[41.39, 2.17] = "Barcelona"
cities[40.42, -3.71] = "Madrid"
cities[-15.80, -47.89] = "Brasília"
cities[-22.91, -43.19] = "Rio de Janeiro"

#### 2.2.3.5 Tuples vs Lists

As you probably have seen, list and tuples are similar. Actually most of the methods that work for one work for the other too. Although lists are more common that tuples (mutability is more useful most of the times), there are some scenarios where you will need tuples:

- In *return* statements, it's easy to assign multiple values to multiple variables
- If you need to pass a sequence as an argument to a function (you won't need to take care of aliasing)
- If you need to use a sequence as a dictionary key

In [30]:
#Case 1.a: Return multiple values using tuple as output

def list_output(n):
    
    a = n**2
    b = n**(1/2)
    c = n%2
    
    return a, b, c

x, y, z = list_output(5)

In [29]:
#Case 1.b: return multiple values using list as output. As you can see it works too, but is a convention to use tuples

def list_output(n):
    
    a = n**2
    b = n**(1/2)
    c = n%2
    
    return [a, b, c]

x, y, z = list_output(5)

In [38]:
#Case 2.b: Pass argument to a function

def function_list(inp):
    
    inp = inp + ("A",)
    return inp

t0 = ("B","C","D")
t1 = function_list(t0)
print(t0)
print(t1)

('B', 'C', 'D')
('B', 'C', 'D', 'A')

In [39]:
#Case 2.b: Pass argument to a function

def function_list(inp):
    
    inp.append("A")
    return inp

t0 = ["B","C","D"]
t1 = function_list(t0)
print(t0)
print(t1)

['B', 'C', 'D', 'A']
['B', 'C', 'D', 'A']

### 2.2.4 Sets

A set is a collection of unique elements, where duplicates are automatically removed. Sets are defined using curly braces {} or the set function.

You could define a tuple like this:
```
>>> s = {"a", "b", "c", "d", "e"}
>>> s = set("a", "b", "c", "d", "e")
```

Sets are **mutable**, like lists but **unordered** like dictionaries (that means that you can not use indexin neither).

Because of their particularity of having unique elements, sets are useful **data operations** such as removing duplicates and finding intersection or differences from other sequences.

In [108]:
d = {{"a":1}:2}

TypeError: unhashable type: 'dict'

In [60]:
s = {"a", "b", "c", "d", "e"}
type(s)

set

#### 1.7.4.1 Operations

There are some operations that are specific for sets:

 - Union: The union of two sets is a set that contains all the elements of both sets. You can use the union method to find the union of two sets:
```
>>> set_a = {1, 2, 3}
>>> set_b = {3, 4, 5}
>>> set_a.union(set_b)
    {1, 2, 3, 4, 5}
```
 - Intersection: The intersection of two sets is a set that contains only the elements that are common to both sets. You can use the intersection method to find the intersection of two sets:
```
>>> set_a = {1, 2, 3}
>>> set_b = {3, 4, 5}
>>> set_a.intersection(set_b)
{3}
```

 - Difference: The difference of two sets is a set that contains the elements that are in the first set but not in the second set. You can use the difference method to find the difference of two sets:
```
>>> set_a = {1, 2, 3}
>>> set_b = {3, 4, 5}
>>> set_a.difference(set_b)
{1, 2}
```

 - Symmetric Difference: The symmetric difference of two sets is a set that contains the elements that are in either set but not in both sets. You can use the symmetric_difference method to find the symmetric difference of two sets:
```
>>> set_a = {1, 2, 3}
>>> set_b = {3, 4, 5}
>>> set_a.symmetric_difference(set_b)
{1, 2, 4, 5}
```

## Exercice break
<img src="" alt="drawing" width="250"/>


##### Exercice 1: Write a function that takes a string and prints the letters in decreasing order of frequency. You can use the function created in *1.7.2.3*:

```
def histogram(s):
    d = {}
    for c in s:
        n = d.get(c, 0) +1
        d[c] = n
        
    return d
```

##### Exercice 2: Write athat takes two strings and returns ONLY the letters that appear in both strings with the same frequency.

In [54]:
def histogram(s):
    d = {}
    for c in s:
        n = d.get(c, 0) +1
        d[c] = n

    return d

def most_frequent(s):
    
    #Get dictionary {freq:[characters]}
    hist = histogram(s)
    
    #this list will be used to store characters and sort them by frequency
    l = []
    for key, value in hist.items():
        
        l.append((value, key))
        
    l.sort(reverse=True)
    
    for freq, char in l:
        print(char)

most_frequent("parrot")

r
t
p
o
a

In [91]:
def most_frequent(s):
    
    #Get dictionary {freq:[characters]}
    hist = histogram(s)
    
    #this list will be used to store characters and sort them by frequency
    l = []
    for key, value in hist.items():
        
        l.append((value, key))
        
    l.sort(reverse=True)
        
    return l

In [ ]:
def ordenar_frecuencia(s):
    
    #Sacamos dicionarion con la frecuencia {freq:[letras]}
    hist = histogram(s)
    
    l = list()
    for _____, ____ in hist.items():
        
        ______
        
    ___.sort(_____)
    return ______

In [93]:
most_frequent("parrot")

[(2, 'r'), (1, 't'), (1, 'p'), (1, 'o'), (1, 'a')]

In [94]:
def most_frequent(s):
    
    #Get dictionary {freq:[characters]}
    hist = histogram(s)
    
    #this list will be used to store characters and sort them by frequency
    l = []
    for key, value in hist.items():
        
        l.append((value, key))
        
    l.sort(reverse=True)
        
    return l
        

def most_frequent_two(s1, s2):
    
    set1 = set(most_frequent(s1))
    set2 = set(most_frequent(s2))
    
    return set1.intersection(set2)

most_frequent_two("parrot", "carrot")

{(1, 'a'), (1, 'o'), (1, 't'), (2, 'r')}

In [97]:
l = ["a", "b", 1, 2, True, False, len]

for val in l:
    if type(val)==str:
        l.remove(val)
        
print(l)

['b', 1, 2, True, False, <built-in function len>]

In [106]:
set_one = set("Root")
set_two = set("Boot")

set_one.symmetric_difference(set_two)

{'B', 'R'}

In [101]:
set_one

{'P', 'e', 'k', 'm', 'n', 'o'}

In [ ]:
### list_a = [1,2,3]
list_b = [1,2,3]

list_a is list_b